nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 10px 20px;
}

nav .logo {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ff6b6b; /* hover-ის ფერი */
}