#bd1 {
    background-color: aqua;
    background-image: url(https://xwatch.vn/upload_images/images/2023/01/09/slogan-nike.jpg);
    background-size: cover;
}


#d2 {
    color: white;
}


#n1 {
    width: 70px;
    height: 30px;
    
}



    padding-top: 50px;
